{% extends 'base.html' %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% block content %}
  <div class="comment-form">
    <h2>Add Comment</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.user_name.id_for_label }}">Your Name:</label>
        {{ form.user_name }}
      </div>
      <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Your Email:</label>
        {{ form.email }}
      </div>
      <div class="form-group">
        <label for="{{ form.text.id_for_label }}">Comment:</label>
        {{ form.text }}
      </div>
      <div class="form-group">
        <label for="{{ form.image.id_for_label }}">Image (optional):</label>
        {{ form.image }}
      </div>
      <div class="form-group">
        <label for="{{ form.text_file.id_for_label }}">Text File (optional):</label>
        {{ form.text_file }}
      </div>
      <div class="form-group">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LeS49AnAAAAAN0EfnD-X5EYiJHoEBMCiZx_x2w1"></div>
      </div>
      <button type="submit" class="submit-button">Submit</button>
    </form>
    {% if parent_comment %}
      <a href="{% url 'app:add_nested_comment' parent_comment.id %}" class="reply-link">Reply to {{ parent_comment.user_name }}</a>
    {% endif %}
  </div>
{% endblock %}
